.deck-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
    padding: 12px;
    border-radius: 15px;
    transition: all 0.2s;
}

.review {
    border: 2px solid var(--primary-color);
    cursor: pointer;
}

.review:hover {
    background-color: var(--primary-color);
    color: var(--secondary-color);
}

.revised {
    border: 2px solid #49F149;
}