html {
  min-height: 100%;
}

:root {
  --primary-color: #FF7036;
  --secondary-color: #FFF;
  --third-color: #EDEDED;
  --forth-color: #1E1E1E;
  --fith-color: #A9A9A9;
  --sixth-color: #8D4ADA;
  --seventh-color: #D9B8FF;
}

@import url('https://fonts.googleapis.com/css?family=Poppins');

body {
  margin: 0;
  font-family: "Poppins", "Open Sans", monospace, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 14px;
  background-color: var(--secondary-color);
  min-height: 100%;
}

h1 {
  margin: 30px 0px 10px;
  text-align: left;
  color: var(--primary-color);
}

h3 {
  color: var(--forth-color);
  background-color: var(--fith-color);
  margin: 0 0 10px 0;
  padding: 10px 3px;
  border-radius: 8px;
  font-size: 22px;
  font-weight: 700;
  text-align: center;
}

h4 {
  color: var(--forth-color);
  font-size: 18px;
}


h5 {
  font-size: 22px;
  text-align: center;
}

table {
  border-collapse: collapse;
  border-spacing: 0 5px;
}

td,
th {
  padding: 5px 5px
}

th {
  font-size: 16px;
}

th {
  border-bottom: 1px solid rgb(120, 120, 120);
}

p {
  font-size: 18px;
  text-align: center;
}

a {
  color: var(--primary-color);
  text-decoration: none;
}

.flex {
  display: flex;
  justify-content: space-between;
}

.column {
  flex-direction: column;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.gap-1 {
  gap: 10px
}

.full-width {
  width: 100%;
}

.half-width {
  width: 48%;
}

.center {
  justify-content: center !important;
}

/* MARGIN */
.m-b-0 {
  margin-bottom: 0px !important;
}

.m-b-10 {
  margin-bottom: 10px !important;
}

.m-b-25 {
  margin-bottom: 25px !important;
}

.m-b-40 {
  margin-bottom: 40px !important;
}

.m-t-10 {
  margin-top: 10px !important;
}

.m-t-25 {
  margin-top: 25px !important;
}

.m-r-10 {
  margin-right: 10px !important;
}

.m-r-25 {
  margin-right: 25px !important;
}

.m-l-10 {
  margin-left: 10px !important;
}

.m-l-25 {
  margin-left: 25px !important;
}

.strong {
  font-weight: 600 !important;
}