html {
  min-height: 100%;
}

:root {
  --primary-color: #FF7036;
  --secondary-color: #FFF;
  --third-color: #EDEDED;
  --forth-color: #1E1E1E;
  --fith-color: #A9A9A9;
  --sixth-color: #8D4ADA;
  --seventh-color: #D9B8FF;
  --eighth-color: #ffe6d6;
}

@import url('https://fonts.googleapis.com/css?family=Poppins');

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Poppins", "Open Sans", monospace, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 14px;
  background-color: var(--secondary-color);
  min-height: 100%;
}

h1 {
  margin: 30px 0px 10px;
  text-align: left;
  color: var(--primary-color);
}

h2 {
  color: var(--forth-color);
  font-size: 22px;
  font-weight: 900;
  text-align: center;
}

h3 {
  color: var(--forth-color);
  font-size: 18px;
  text-align: center;
}

h4 {
  color: var(--fith-color);
  font-size: 14px;
  text-align: center;
  text-transform: uppercase;
}

h5 {
  color: var(--forth-color);
  font-size: 14px;
  text-align: center;
}

table {
  border-collapse: collapse;
  border-spacing: 0 5px;
}

td,
th {
  padding: 5px 5px
}

th {
  font-size: 16px;
}

th {
  border-bottom: 1px solid rgb(120, 120, 120);
}

p {
  font-size: 18px;
  text-align: center;
}

a {
  color: var(--primary-color);
  text-decoration: none;
}

.absolute {
  position: absolute;
}

.relative {
  position: relative;
}

.display-flex {
  display: flex;
}

.flex {
  display: flex;
  justify-content: space-between;
}

.justify-center {
  justify-content: center;
}

.align-center {
  align-items: center;
}

.column {
  flex-direction: column;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.gap-1 {
  gap: 10px
}

.gap-3 {
  gap: 30px
}

.full-height {
  height: 100% !important;
}

.three-quarter-height {
  height: 74% !important;
}

.full-width {
  width: 100%;
}

.three-quarter-width {
  width: 74%;
}

.half-width {
  width: 48%;
}

.quarter-width {
  width: 24% !important;
}

.text-center {
  text-align: center;
}

.strong {
  font-weight: bold !important;
}

.center {
  justify-content: center !important;
}

.left {
  text-align: left !important;
}

.right {
  text-align: right !important;
}

/* Padding */
.p-0 {
  padding: 0;
}

/* Margin */
.m-0 {
  margin: 0;
}

.m-b-0 {
  margin-bottom: 0px !important;
}

.m-b-10 {
  margin-bottom: 10px !important;
}

.m-b-25 {
  margin-bottom: 25px !important;
}

.m-b-40 {
  margin-bottom: 40px !important;
}

.m-t-10 {
  margin-top: 10px !important;
}

.m-t-25 {
  margin-top: 25px !important;
}

.m-t-40 {
  margin-top: 40px !important;
}

.m-r-10 {
  margin-right: 10px !important;
}

.m-r-25 {
  margin-right: 25px !important;
}

.m-l-10 {
  margin-left: 10px !important;
}

.m-l-25 {
  margin-left: 25px !important;
}

.strong {
  font-weight: 600 !important;
}

/* Global style */
.primary-color {
  color: var(--primary-color) !important;
}

.secondary-color {
  color: var(--secondary-color) !important;
}

.third-color {
  color: var(--third-color) !important;
}

.fith-color {
  color: var(--fith-color) !important;
}

.sixth-color {
  color: var(--sixth-color) !important;
}

.description {
  color: rgb(97, 97, 97);
  line-height: 25px;
}

.grey-bg {
  padding: 20px;
  border-radius: 15px;
  background-color: var(--third-color);
}

.grey-border {
  padding: 20px;
  border-radius: 15px;
  border: solid 2px var(--third-color);
}

/* Buttons */
.default-button {
  cursor: pointer;
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  box-shadow: none;
  color: inherit;
  font: inherit;
  outline: none;
  text-transform: none;
  appearance: none;
}

.strong-button {
  font-weight: bold;
  font-size: 18px;
  text-transform: uppercase;
  background-color: #C28CFF;
  color: var(--secondary-color);
  border-width: 0px 0px 3px 0px;
  border-color: var(--sixth-color);
  border-style: solid;
  border-radius: 15px;
  padding: 20px;
  width: 100%;
  transition: all 0.2s;
}

.strong-button:hover {
  cursor: pointer;
  opacity: 0.8;
}

.link-button {
  font-weight: 600;
  color: var(--sixth-color);
  text-transform: uppercase;
  transition: all 0.2s;
}

.link-button:hover {
  color: var(--secondary-color);
}

.link-desactivated {
  pointer-events: none;
}

.input-icon-btn {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
  padding: 5px;
}

/* Inputs */
input {
  font-size: 18px;
  background-color: #f7f7f7;
  border: 2px;
  border-color: var(--third-color);
  border-style: solid;
  border-radius: 15px;
  padding: 20px;
  width: 100%;
}

input::placeholder {
  color: var(--fith-color);
}

input:focus {
  border-color: var(--primary-color);
  outline: none;
}

/* Time cursor */
.time-cursor-container {
  height: 16px;
  width: 100%;
  background-color: var(--third-color);
  border-radius: 8px;
}

.time-cursor {
  height: 16px;
  width: 100%;
  background-color: var(--primary-color);
  border-radius: 8px;
}

/* Completed Icon */
.completed-icon-container {
  background-color: #49F149;
  border-radius: 1000px;
  height: 28px;
  width: 28px;
}

.completed-icon {
  height: 22px;
  width: 22px;
}