@media (min-width: 500px) {
    .second-main-navigation {
        display: flex;
        flex-direction: column;
        z-index: 1;
        height: 90px;
        gap: 20px;
        padding: 0 16px;
    }
}

@media (max-width: 500px) {
    .second-main-navigation {
        display: none;
    }
}

.second-nav-btn {
    color: var(--sixth-color);
    font-size: 12px;
    font-weight: 700;
    line-height: 16px;
    text-transform: uppercase;
}

.second-nav-btn:hover {
    color: var(--seventh-color);
}

.second-nav-btn.active {
    color: var(--sixth-color);
}